@font-face {
    font-family: "DM_Serif_Text";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/dm-serif-text/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "DM_Serif_Text";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/dm-serif-text/italic/400.ttf') format('truetype');
}
