@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans_semiconde/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans_semiconde/italic/100.ttf') format('truetype');
}