@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/ibmplexsans_semiconde/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/ibmplexsans_semiconde/italic/200.ttf') format('truetype');
}