@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/ibmplexsans_semiconde/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/ibmplexsans_semiconde/italic/500.ttf') format('truetype');
}