@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans_semiconde/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_semiconde";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans_semiconde/italic/700.ttf') format('truetype');
}