@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/work_sans/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/work_sans/italic/100.ttf') format('truetype');
}