@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/work_sans/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/work_sans/italic/400.ttf') format('truetype');
}