@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/work_sans/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "work_sans";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/work_sans/italic/600.ttf') format('truetype');
}
