@font-face {
    font-family: "Rasa";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/rasa/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Rasa";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/rasa/italic/400.ttf') format('truetype');
}