@font-face {
    font-family: "Rasa";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/rasa/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Rasa";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/rasa/italic/500.ttf') format('truetype');
}