@font-face {
    font-family: "Rasa";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/rasa/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Rasa";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/rasa/italic/700.ttf') format('truetype');
}