@font-face {
    font-family: "Bogart";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bogart/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Bogart";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bogart/italic/300.ttf') format('truetype');
}
