@font-face {
    font-family: "Bogart";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/bogart/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Bogart";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/bogart/italic/500.ttf') format('truetype');
}