@font-face {
    font-family: "Bogart";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/bogart/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Bogart";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/bogart/italic/800.ttf') format('truetype');
}