@font-face {
    font-family: "Bogart";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/bogart/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Bogart";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/bogart/italic/900.ttf') format('truetype');
}
