@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/italic/500.ttf') format('truetype');
}