@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/italic/700.ttf') format('truetype');
}