@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4_18pt";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_18pt/italic/900.ttf') format('truetype');
}