@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/fira-sans/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/fira-sans/italic/300.ttf') format('truetype');
}