@font-face {
    font-family: "Fira Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/fira-sans/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/fira-sans/italic/600.ttf') format('truetype');
}