@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/montserrat/normal/400.ttf') format('truetype');
}


@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/montserrat/italic/400.ttf') format('truetype');
}