@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/montserrat/normal/600.ttf') format('truetype');
}


@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/montserrat/italic/600.ttf') format('truetype');
}