@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/montserrat/normal/700.ttf') format('truetype');
}


@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/montserrat/italic/700.ttf') format('truetype');
}