@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/rubik/normal/500.ttf') format('truetype');   
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/rubik/italic/500.ttf') format('truetype');   
}
