@font-face {
    font-family: "Rubik";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/rubik/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Rubik";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/rubik/italic/600.ttf') format('truetype');
}
