@font-face {
    font-family: "Rubik";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/rubik/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Rubik";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/rubik/italic/800.ttf') format('truetype');
}