 @font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/bodoni_moda/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/bodoni_moda/italic/600.ttf') format('truetype');
}
