@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/bodoni_moda/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/bodoni_moda/italic/700.ttf') format('truetype');
}