@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/bodoni_moda/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/bodoni_moda/italic/800.ttf') format('truetype');
}