@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/bodoni_moda/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni_moda";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/bodoni_moda/italic/900.ttf') format('truetype');
}