@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/open-sans/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/open-sans/italic/400.ttf') format('truetype');
}