@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/roboto-condensed/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/roboto-condensed/italic/100.ttf') format('truetype');
}