@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/roboto-condensed/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/roboto-condensed/italic/200.ttf') format('truetype');
}