@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/roboto-condensed/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/roboto-condensed/italic/800.ttf') format('truetype');
}