@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/roboto-condensed/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-condensed";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/roboto-condensed/italic/900.ttf') format('truetype');
}