@font-face {
    font-family: "Raleway";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/raleway/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/raleway/italic/900.ttf') format('truetype');
}