@font-face {
    font-family: "arapey";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/arapey/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "arapey";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/arapey/italic/400.ttf') format('truetype');
}
