@font-face {
    font-family: "Noto Sans";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/noto-sans/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/noto-sans/italic/100.ttf') format('truetype');
}
