@font-face {
    font-family: "Noto Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/noto-sans/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/noto-sans/italic/600.ttf') format('truetype');
}
