@font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/source-code-pro/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/source-code-pro/italic/200.ttf') format('truetype');
}