@font-face {
    font-family: "Source Code Pro";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/source-code-pro/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/source-code-pro/italic/300.ttf') format('truetype');
}