@font-face {
    font-family: "Baskervville";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/baskervville/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Baskervville";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/baskervville/italic/500.ttf') format('truetype');
}