@font-face {
    font-family: "Baskervville";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/baskervville/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Baskervville";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/baskervville/italic/700.ttf') format('truetype');
}