@font-face {
    font-family: "ibmplexsans";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans/italic/100.ttf') format('truetype');
}