@font-face {
    font-family: "ibmplexsans";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans/italic/700.ttf') format('truetype');
}