@font-face {
    font-family: "Bitter";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/bitter/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/bitter/italic/200.ttf') format('truetype');
}