@font-face {
    font-family: "Bitter";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bitter/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bitter/italic/300.ttf') format('truetype');
}