@font-face {
    font-family: "Bitter";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/bitter/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/bitter/italic/700.ttf') format('truetype');
}