@font-face {
    font-family: "Bitter";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/bitter/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/bitter/italic/800.ttf') format('truetype');
}