@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/open-sans-condensed/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/open-sans-condensed/italic/600.ttf') format('truetype');
}