@font-face {
    font-family: "roboto";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/roboto/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "roboto";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/roboto/italic/100.ttf') format('truetype');
}