@font-face {
    font-family: "roboto";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/roboto/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "roboto";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/roboto/italic/800.ttf') format('truetype');
}