@font-face {
    font-family: "Overpass";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/overpass/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Overpass";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/overpass/italic/500.ttf') format('truetype');
}
