@font-face {
    font-family: "Overpass";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/overpass/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Overpass";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/overpass/italic/600.ttf') format('truetype');
}