@font-face {
    font-family: "Overpass";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/overpass/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Overpass";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/overpass/italic/800.ttf') format('truetype');
}