@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/karla/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/karla/italic/200.ttf') format('truetype');
}