@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/karla/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/karla/italic/400.ttf') format('truetype');
}