@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/karla/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Karla";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/karla/italic/700.ttf') format('truetype');
}