@font-face {
    font-family: "arimo";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/arimo/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "arimo";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/arimo/italic/400.ttf') format('truetype');
}