@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/barlow/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/barlow/italic/200.ttf') format('truetype');
}