@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/barlow/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/barlow/italic/400.ttf') format('truetype');
}