@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/barlow/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/barlow/italic/500.ttf') format('truetype');
}