@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/barlow/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/barlow/italic/700.ttf') format('truetype');
}