@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/barlow/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "barlow";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/barlow/italic/800.ttf') format('truetype');
}