@font-face {
    font-family: "Cousine";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cousine/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Cousine";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cousine/italic/400.ttf') format('truetype');
}