@font-face {
    font-family: "Cousine";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/cousine/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Cousine";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/cousine/italic/700.ttf') format('truetype');
}