@font-face {
    font-family: "Exo 2";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/exo-2/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Exo 2";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/exo-2/italic/500.ttf') format('truetype');
}