@font-face {
    font-family: "Exo 2";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/exo-2/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Exo 2";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/exo-2/italic/600.ttf') format('truetype');
}