@font-face {
    font-family: "Exo 2";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/exo-2/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Exo 2";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/exo-2/italic/800.ttf') format('truetype');
}