@font-face {
    font-family: "Bristle Radiant";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/bristle-radiant/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Bristle Radiant";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/bristle-radiant/italic/400.ttf') format('truetype');
}