@font-face {
    font-family: "unna";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/unna/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "unna";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/unna/italic/400.ttf') format('truetype');
}