@font-face {
    font-family: "unna";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/unna/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "unna";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/unna/italic/700.ttf') format('truetype');
}