@font-face {
    font-family: "sourceserif4";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/200.ttf') format('truetype');
}