@font-face {
    font-family: "sourceserif4";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/300.ttf') format('truetype');
}