@font-face {
    font-family: "sourceserif4";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/500.ttf') format('truetype');
}