@font-face {
    font-family: "sourceserif4";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/700.ttf') format('truetype');
}