@font-face {
    font-family: "sourceserif4";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/800.ttf') format('truetype');
}