@font-face {
    font-family: "sourceserif4";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/sourceserif4/italic/900.ttf') format('truetype');
}