@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/lato/normal/100.ttf') format('truetype');
}


@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/lato/italic/100.ttf') format('truetype');
}