@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    src: url('/assets/typho/lato/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 300;
    font-style: italic;
    src: url('/assets/fonts/typho/italic/200.ttf') format('truetype');
}
