@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/lato/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/lato/italic/900.ttf') format('truetype');
}
