@font-face {
    font-family: "cardinal_valentino";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cardinal_valentino/400.ttf') format('truetype');
}

@font-face {
    font-family: "cardinal_valentino";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cardinal_valentino/400.ttf') format('truetype');
}