@font-face {
    font-family: "Ubuntu";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/ubuntu/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/ubuntu/italic/300.ttf') format('truetype');
}