@font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/ubuntu/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/ubuntu/italic/500.ttf') format('truetype');
}