@font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/ubuntu/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/ubuntu/italic/700.ttf') format('truetype');
}