@font-face {
    font-family: "Bellota Text";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bellota-text/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Bellota Text";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/bellota-text/italic/300.ttf') format('truetype');
}