@font-face {
    font-family: "Bellota Text";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/bellota-text/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Bellota Text";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/bellota-text/italic/700.ttf') format('truetype');
}