@font-face {
    font-family: "Bevan";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/bevan/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "bevan";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/bevan/italic/400.ttf') format('truetype');
}