@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans_conde/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/ibmplexsans_conde/italic/100.ttf') format('truetype');
}