@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/ibmplexsans_conde/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/ibmplexsans_conde/italic/200.ttf') format('truetype');
}