@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/ibmplexsans_conde/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/ibmplexsans_conde/italic/400.ttf') format('truetype');
}