@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/ibmplexsans_conde/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/ibmplexsans_conde/italic/500.ttf') format('truetype');
}