@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans_conde/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "ibmplexsans_conde";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/ibmplexsans_conde/italic/700.ttf') format('truetype');
}