@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/spectral/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/spectral/italic/200.ttf') format('truetype');
}