@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/spectral/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/spectral/italic/400.ttf') format('truetype');
}