@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/spectral/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/spectral/italic/500.ttf') format('truetype');
}