@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/spectral/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/spectral/italic/700.ttf') format('truetype');
}