@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/spectral/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Spectral";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/spectral/italic/800.ttf') format('truetype');
}