@font-face {
    font-family: "Public Sans";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/public-sans/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "Public Sans";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/public-sans/italic/100.ttf') format('truetype');
}