@font-face {
    font-family: "Public Sans";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/public-sans/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Public Sans";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/public-sans/italic/400.ttf') format('truetype');
}