@font-face {
    font-family: "Public Sans";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/public-sans/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Public Sans";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/public-sans/italic/500.ttf') format('truetype');
}