@font-face {
    font-family: "Public Sans";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/public-sans/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Public Sans";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/public-sans/italic/800.ttf') format('truetype');
}