@font-face {
    font-family: "Public Sans";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/public-sans/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Public Sans";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/public-sans/italic/900.ttf') format('truetype');
}