@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/poppins/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/poppins/italic/100.ttf') format('truetype');
}