@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/poppins/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/poppins/italic/200.ttf') format('truetype');
}