@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/poppins/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/poppins/italic/300.ttf') format('truetype');
}