@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/poppins/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/poppins/italic/400.ttf') format('truetype');
}