@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/poppins/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/poppins/italic/500.ttf') format('truetype');
}