@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/poppins/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/poppins/italic/600.ttf') format('truetype');
}
