@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/poppins/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/poppins/italic/700.ttf') format('truetype');
}