@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/poppins/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "poppins";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/poppins/italic/800.ttf') format('truetype');
}