@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/italic/400.ttf') format('truetype');
}