@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/italic/600.ttf') format('truetype');
}