@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamond/italic/700.ttf') format('truetype');
}