@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/zilla_slab/normal/400.ttf') format('truetype');
}
@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/zilla_slab/italic/400.ttf') format('truetype');
}

