@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/zilla_slab/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/zilla_slab/italic/500.ttf') format('truetype');
}

