@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/zilla_slab/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "zilla_slab";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/zilla_slab/italic/700.ttf') format('truetype');
}

