@font-face {
    font-family: "Nobile";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/nobile/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Nobile";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/nobile/italic/500.ttf') format('truetype');
}