@font-face {
    font-family: "Nobile";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/nobile/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Nobile";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/nobile/italic/700.ttf') format('truetype');
}