@font-face {
    font-family: "libre_baskervile";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/libre_baskerville/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "libre_baskervile";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/libre_baskerville/italic/400.ttf') format('truetype');
}