@font-face {
    font-family: "Sedan";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/fonts/sedan/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Sedan";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/fonts/sedan/italic/400.ttf') format('truetype');
}

