@font-face {
    font-family: "Figtree";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/figtree/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Figtree";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/figtree/italic/300.ttf') format('truetype');
}