@font-face {
    font-family: "Figtree";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/figtree/normal/500.ttf') format('truetype');   
}

@font-face {
    font-family: "Figtree";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/figtree/italic/500.ttf') format('truetype');   
}