@font-face {
    font-family: "Figtree";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/figtree/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Figtree";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/figtree/italic/700.ttf') format('truetype');
}
