@font-face {
    font-family: "Red Hat Text";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/red-hat-text/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Red Hat Text";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/red-hat-text/italic/400.ttf') format('truetype');
}