@font-face {
    font-family: "Red Hat Text";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/red-hat-text/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Red Hat Text";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/red-hat-text/italic/700.ttf') format('truetype');
}