@font-face {
    font-family: "vollkorn";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/vollkorn/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "vollkorn";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/vollkorn/italic/400.ttf') format('truetype');
}