@font-face {
    font-family: "vollkorn";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/vollkorn/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/vollkorn/italic/500.ttf') format('truetype');
}