 @font-face {
    font-family: "vollkorn";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/vollkorn/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "vollkorn";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/vollkorn/italic/600.ttf') format('truetype');
}
