@font-face {
    font-family: "Noto Sans";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/noto-sans-condensed/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/noto-sans-condensed/italic/300.ttf') format('truetype');
}