@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/noto-sans-condensed/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/noto-sans-condensed/italic/700.ttf') format('truetype');
}
