@font-face {
    font-family: "Jost";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/jost/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Jost";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/jost/italic/200.ttf') format('truetype');
}
