@font-face {
    font-family: "Jost";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/jost/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Jost";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/jost/italic/600.ttf') format('truetype');
}