@font-face {
    font-family: "Jost";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/jost/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Jost";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/jost/italic/800.ttf') format('truetype');
}