@font-face {
    font-family: "Jost";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/jost/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Jost";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/jost/italic/900.ttf') format('truetype');
}
