@font-face {
    font-family: "Alegreya";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/400.ttf') format('truetype');
}