@font-face {
    font-family: "Alegreya";
    font-weight: 450;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/450.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 450;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/450.ttf') format('truetype');
}