@font-face {
    font-family: "Alegreya";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/500.ttf') format('truetype');
}