@font-face {
    font-family: "Alegreya";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/700.ttf') format('truetype');
}