@font-face {
    font-family: "Alegreya";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/800.ttf') format('truetype');
}