@font-face {
    font-family: "Alegreya";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/alegreya/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Alegreya";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/alegreya/italic/900.ttf') format('truetype');
}