@font-face {
    font-family: "titillium_web";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/titillium_web/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "titillium_web";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/titillium_web/italic/300.ttf') format('truetype');
}