@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/italic/500.ttf') format('truetype');
}