@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/italic/700.ttf') format('truetype');
}