@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/open-sans-semi-condensed/italic/800.ttf') format('truetype');
}