@font-face {
    font-family: "lora";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/lora/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "lora";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/lora/italic/700.ttf') format('truetype');
}