@font-face {
    font-family: "Mulish";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/mulish/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/mulish/italic/200.ttf') format('truetype');
}