@font-face {
    font-family: "Mulish";
    font-weight: 450;
    font-display: swap;
    src: url('/assets/typho/mulish/normal/450.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    font-weight: 450;
    font-display: swap;
    src: url('/assets/typho/mulish/italic/450.ttf') format('truetype');
}