@font-face {
    font-family: "Mulish";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/mulish/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/mulish/italic/600.ttf') format('truetype');
}