@font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/mulish/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/mulish/italic/700.ttf') format('truetype');
}