@font-face {
    font-family: "Mulish";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/mulish/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Mulish";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/mulish/italic/900.ttf') format('truetype');
}