@font-face {
    font-family: "Catalish Huntera";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/catalish-huntera/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Catalish Huntera";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/catalish-huntera/italic/400.ttf') format('truetype');
}