@font-face {
    font-family: "Cabin";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cabin/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Cabin";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/cabin/italic/400.ttf') format('truetype');
}