@font-face {
    font-family: "pt_serif";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/pt_serif/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "pt_serif";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/pt_serif/italic/400.ttf') format('truetype');
}