@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/roboto-semi-condensed/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/roboto-semi-condensed/italic/400.ttf') format('truetype');
}