@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/roboto-semi-condensed/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/roboto-semi-condensed/italic/700.ttf') format('truetype');
}