@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/roboto-semi-condensed/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "roboto-semi-condensed";
    font-display: swap;
    font-weight: 900;
    src: url('/assets/typho/roboto-semi-condensed/italic/900.ttf') format('truetype');
}