@font-face {
    font-family: "Noto Sans";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/noto-sans-semi-condensed/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/noto-sans-semi-condensed/italic/200.ttf') format('truetype');
}