@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/noto-sans-semi-condensed/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/noto-sans-semi-condensed/italic/900.ttf') format('truetype');
}
