@font-face {
    font-family: "Cormorant Infant";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "Cormorant Infant";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/italic/200.ttf') format('truetype');
}