@font-face {
    font-family: "Cormorant Infant";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Cormorant Infant";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/italic/400.ttf') format('truetype');
}