@font-face {
    font-family: "Cormorant Infant";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/normal/500.ttf') format('truetype');   
}

@font-face {
    font-family: "Cormorant Infant";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/cormorant-infant/italic/500.ttf') format('truetype');   
}