@font-face {
    font-family: "anthony_hunter";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/anthony_hunter/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "anthony_hunter";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/anthony_hunter/italic/400.ttf') format('truetype');
}
