@font-face {
    font-family: "Faustina";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/faustina/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Faustina";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/faustina/italic/400.ttf') format('truetype');
}
