@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/be_vietnam_Pro/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/be_vietnam_Pro/italic/200.ttf') format('truetype');
}