@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/be_vietnam_Pro/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/be_vietnam_Pro/italic/300.ttf') format('truetype');
}