@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/be_vietnam_Pro/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "be_vietnam_Pro";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/be_vietnam_Pro/italic/500.ttf') format('truetype');
}