@font-face {
    font-family: "source-sans-3";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "source-sans-3";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/italic/400.ttf') format('truetype');
}