@font-face {
    font-family: "source-sans-3";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/normal/500.ttf') format('truetype');   
}

@font-face {
    font-family: "source-sans-3";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/italic/500.ttf') format('truetype');   
}
