@font-face {
    font-family: "source-sans-3";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "source-sans-3";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/source-sans-3/italic/800.ttf') format('truetype');
}
