@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/kanit/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/kanit/italic/100.ttf') format('truetype');
}