@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/kanit/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/kanit/italic/300.ttf') format('truetype');
}
