@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/kanit/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/kanit/italic/400.ttf') format('truetype');
}