@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/kanit/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/kanit/italic/500.ttf') format('truetype');
}