@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/kanit/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 600;
    src: url('/assets/typho/kanit/italic/600.ttf') format('truetype');
}
