@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/kanit/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/kanit/italic/700.ttf') format('truetype');
}