@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/kanit/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "kanit";
    font-display: swap;
    font-weight: 800;
    src: url('/assets/typho/kanit/italic/800.ttf') format('truetype');
}