@font-face {
    font-family: "cantarell";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/cantarell/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "cantarell";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/cantarell/italic/700.ttf') format('truetype');
}