@font-face {
    font-family: "Ubuntu Mono";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/ubuntu-mono/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu Mono";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/ubuntu-mono/italic/400.ttf') format('truetype');
}